:root {
	--main-clr: #c879eb;
	--accent: #5ce7ef;
	--contrast: #181818;
	--light-gray: #eeeeee;
	--border-radius: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Sans-serif;
	color: var(--contrast);
	/* outline: 1px pink solid; */
}
